<div class="row">
  <div class="offset-sm-3 col-lg-6">
    <div class="card card-body">
      <h3 class="box-title m-b-0">Detail User Page</h3>
      <!-- <p class="text-muted m-b-30 font-13"> Use Bootstrap's predefined grid classes for horizontal form </p> -->
      <form class="form-horizontal">
        <div class="form-group row">
          <label for="inputEmail1" class="col-sm-3 text-right control-label col-form-label">Firstname</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputEmail1" placeholder="First Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail2" class="col-sm-3 text-right control-label col-form-label">Lastname</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputEmail2" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Username*</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="inputEmail3" placeholder="Username">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail4" class="col-sm-3 text-right control-label col-form-label">Email*</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email" readonly>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-3 text-right control-label col-form-label">Permission*</label>
          <div class="col-sm-9">
            <div class="demo-radio-button">
                <input name="group5" type="radio" id="radio_30" class="radio-col-red" checked />
                <label for="radio_30">none</label>
                <input name="group5" type="radio" id="radio_31" class="radio-col-pink" />
                <label for="radio_31">low</label>
                <input name="group5" type="radio" id="radio_32" class="radio-col-purple" />
                <label for="radio_32">medium</label>
                <input name="group5" type="radio" id="radio_33" class="radio-col-deep-purple" />
                <label for="radio_33">Admin</label>
              </div>
          </div>
        </div>


        <div class="form-group m-b-0">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
